
body{
    overflow-x: hidden;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    

}




#titulli{
    position:relative;
    left: 40%;
    top: 2%;
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    color: azure;
}

#beinsports1{
    width: 20%;
    height: 100%;
    position: relative;
    left: 20%;
    top: 25%;
}

#beinsports2{
    width: 20%;
    height: 100%;
    position: relative;
    left: 30%;
    top: 25%;
}

#beinsports3{
    width: 20%;
    height: 100%;
    position: relative;
    left: -20.5%;
    top: 150px;
}

#beinsports4{
    width: 20%;
    height: 100%;
    position: relative;
    left: -10.5%;
    top: 150px;
}
#beinsports5{
    width: 20%;
    height: 100%;
    position: relative;
    left: 20%;
    top: 150px;
}

#beinsports6{
    width: 20%;
    height: 100%;
    position: relative;
    left: 30%;
    top: 150px;
}

#livescore{
    width: 20%;
    height: 100%;
    position: relative;
    left: 40%;
    top: 300px;
}

#flashscore{
    width: 20%;
    height: 50px;
    position: absolute;
    left: 2%;
    top: 82%;
}

p{
  width: auto;
  height: auto;
  position: relative;
    left: 40%;
    top: 250px;
  animation-name: p;
  animation-duration: 10s;
  font-family: 'Patrick Hand', cursive;
    font-size: 25px;

}

@keyframes p {
  0%   { left:-200px; top:250px;}
  100% { left:40%; top:250px;}
}


#instagram{
    width: auto;
    height: 120px;
    position: absolute;
    left: 80%;
    top: 85%
    
    
}



@media screen and (min-width: 375px) {
    
    body{
        width: 375px;
        height: 100%;
    overflow-x: hidden;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
    

}
    
    
    
#titulli{
    position:relative;
    left: 40%;
    top: 2%;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    color: azure;
}
    
    
    #beinsports1{
    width: 40%;
    height: auto;
    position: relative;
    left: 30%;
    top: 50px;
}
    
    #beinsports2{
    width: 40%;
    height:auto;
    position: absolute;
    left: 32%;
    top: 24%;
}

    #beinsports3{
    width: 40%;
    height: auto;
    position: absolute;
    left: 32%;
    top: 34%;
}
    
    
    #beinsports4{
    width: 40%;
    height: auto;
    position: absolute;
    left: 32%;
    top: 44%;
}
    
    
    #beinsports5{
    width: 40%;
    height: auto;
    position: absolute;
    left: 32%;
    top: 54%;
}

    
    #beinsports6{
    width: 40%;
    height: auto;
    position: absolute;
    left: 32%;
    top: 64%;
}
    
    
    #livescore{
    width: 40%;
    height: auto;
    position: absolute;
    left:57%;
    top: 74%;
}
    
    
    
    #flashscore{
    width: 40%;
    height: auto;
    position: absolute;
    left: 2%;
    top: 78%;
}
    
    
    p{
  width: auto;
  height: auto;
  position: relative;
    left: 15%;
    top: 600px;
  animation-name: p;
  animation-duration: 10s;
  font-family: 'Patrick Hand', cursive;
    font-size: 20px;
       padding-bottom: 0px;

}

@keyframes p {
  0%   { left:-200px; top:600px;}
  100% { left:15%; top:600px;}
}
    
    
    #instagram{
    width: auto;
    height: 120px;
    position: absolute;
    left: 27%;
    top: 90%;
    
}
}


@media screen and (min-width: 389px) {
    
    body{
        width: 389px;
        height: 100%;
    overflow-x: hidden;
    background-image: url(image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    
    

}
    
    
    
#titulli{
    position:relative;
    left: 50%;
    top: 2%;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Patrick Hand', cursive;
    color: azure;
}
    
    
    #beinsports1{
    width: 40%;
    height: auto;
    position: relative;
    left: 35%;
    top: 50px;
}
    
    #beinsports2{
    width: 40%;
    height:auto;
    position: absolute;
    left: 32%;
    top: 24%;
}

    #beinsports3{
    width: 40%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 34%;
}
    
    
    #beinsports4{
    width: 40%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 44%;
}
    
    
    #beinsports5{
    width: 40%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 54%;
}

    
    #beinsports6{
    width: 40%;
    height: auto;
    position: absolute;
    left: 35%;
    top: 64%;
}
    
    
    #livescore{
    width: 40%;
    height: auto;
    position: absolute;
    left:57%;
    top: 74%;
}
    
    
    
    #flashscore{
    width: 40%;
    height: auto;
    position: absolute;
    left: 2%;
    top: 78%;
}
    
    
    p{
  width: auto;
  height: auto;
  position: relative;
    left: 15%;
    top: 600px;
  animation-name: p;
  animation-duration: 10s;
  font-family: 'Patrick Hand', cursive;
    font-size: 20px;

}

@keyframes p {
  0%   { left:-200px; top:600px;}
  100% { left:15%; top:600px;}
}
    
    
    #instagram{
    width: auto;
    height: 120px;
    position: absolute;
    left: 27%;
    top: 90%;
    
}
}







