body{
    background-image: url(background1.jpg);
    background-attachment: fixed;
    width: 100%;
    
    background-repeat: no-repeat;
    overflow: scroll;
    overflow-x: hidden;
}



#logo{
    display: inline;
    position: absolute;
    top: -2%;
    padding: 10px;
    margin: 15px;
    color: white;
    font-family: DejaVu Sans Mono, monospace	;
    position: fixed;
    z-index: 6;
    width: 95%;
    text-align: center;
    background-color: dimgray;
}




#tabela{
    font-size: 2vw;
    font-family: cursive;
    position:absolute;
    top: 60px;
    left: 60%;
    text-align: center;
    text-decoration: underline;
    color: azure;
}


#orari{
    font-size: 2vw;
    font-family: cursive;
    position:absolute;
    top: 60px;
    left: 11%;
    text-align: center;
    text-decoration: underline;
    color: azure;
}

#kanalet{
    font-size: 2vw;
    font-family: cursive;
    position:absolute;
    top:130%;
    left: 40%;
    text-align: center;
    text-decoration: underline;
    color: azure;
}



#match-tabele{
    position: relative;
    top: 170px;
    left: 5%;
    overflow-x: hidden;
    
}






#tabele-team{
    position:absolute;
    top: 25.7%;
    left: 55%;
}



#video1{
    position: relative;
    top: 300px;
    left: 15%;
}

#p1{
    position: relative;
    color: azure;
    font-family: cursive;
    font-size: 2vw;
    top: 270px;
    left: 40%;
    text-decoration: underline
}


#video2{
    position: relative;
    top: 300px;
    left: 15%;
}

#p2{
    position: absolute;
    color: azure;
    font-family: cursive;
    font-size: 2vw;
    top:303%;
    left: 40%;
    text-decoration: underline
}

#video3{
     position: relative;
    top: 300px;
    left: 15%;
}